@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #005F20;
  --font-sans: var(--font-open-sans);
  --font-archivo: var(--font-archivo);
}

.font-archivo {
  font-family: var(--font-archivo), sans-serif;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans), Helvetica, sans-serif;
  overflow-x: hidden;
}
